.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.subTask {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.checkbox:checked {
  background-color: #333236;
  border-color: #333236;
}

.closeButton {
  margin-left: auto;
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
}

.subTaskInput {
  width: 100%;
}
